@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

@font-face {
  font-family: WeatherIcons;
  src: url('../assets/weathericons.woff');
}

body {
  background-color: #f1f2f0;
  color: #35342f;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}
